@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg: hsl(0 0% 8%);
  --c: hsl(0 0% 93%);
  --c-2: hsl(0 0% 50%);
  --c-3: hsl(0 0% 30%);

  --sp-rto: 1.618;

  --sp-s: 8px;
  --sp-m: calc(var(--sp-s) * var(--sp-rto));
  --sp-l: calc(var(--sp-m) * var(--sp-rto));
  --sp-xl: calc(var(--sp-l) * var(--sp-rto));
  --sp-xxl: calc(var(--sp-xl) * var(--sp-rto));

  --tx-rto: 1.414;

  --tx-s: 15px;
  --tx-m: calc(var(--tx-s) * var(--tx-rto));
  --tx-l: calc(var(--tx-m) * var(--tx-rto));
  --tx-xl: calc(var(--tx-l) * var(--tx-rto));
  --tx-xxl: calc(var(--tx-xl) * var(--tx-rto));

  --page-padding: var(--sp-xl);
}

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--c);
  font-family: nb grotesk, monospace;
  font-size: var(--tx-s);
  line-height: 1.4;


}

h1 {
  font-size: unset;
}

h2 {
  font-size: unset;
  font-weight: 700;
  margin-top: var(--sp-xl);
}

p {
  margin: 0;
}

p+p {
  margin-top: var(--sp-m);
}

.link {
  color: var(--c-2);
  text-decoration: none;
}

.link:hover {
  color: var(--c);
}

.underline-link {
  color: var(--c-2);
  text-underline-position: under;
  text-decoration-thickness: 0.5px;
  text-decoration-color: var(--c-3);
}

.underline-link:hover {
  color: var(--c);
  text-decoration-color: currentColor;
}

.root {
  display: grid;
  gap: var(--sp-xl);
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  height: 100%;
  padding-inline: var(--page-padding);
  overflow: hidden;
}

.about-root {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {

  .root,
  .about-root {
    grid-template-columns: 1fr;
    height: unset;
    gap: 0;
  }
}


.about-image-section {
  padding-block: var(--page-padding);
  max-height: calc(100vh - var(--page-padding));
}

.about-image-section img {
  width: 100%;
  display: block;
}

.about-text-section {
  align-self: end;
  padding-block: var(--page-padding);
  overflow: auto;
  max-height: calc(100vh - var(--page-padding));
}

@media (max-width: 1024px) {
  .about-image-section {
    padding: 0;
  }

  .about-text-section {
    overflow: unset;
    max-height: unset;
  }
}

.header {
  padding-block: var(--page-padding);
  gap: var(--page-padding);
  max-height: 100vh;
  display: grid;
  grid-template-areas:
    "main-title"
    "menu"
    "about-link-section";
}

@media (max-width: 1024px) {
  .header {
    grid-template-areas:
      "main-title about-link-section"
      "menu menu";
  }
}

.main-title {
  margin: 0;
  grid-area: main-title;
}

.main-title-link {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sp-xl);
  align-self: center;
  grid-area: menu;
}

.about-link-section {
  align-content: end;
  color: var(--c-2);
  grid-area: about-link-section;
}

@media (max-width: 1024px) {
  .about-link-section {
    margin-left: auto;
  }
}

.player-section {
  align-content: center;
}

.images-section {
  overflow: auto;
  padding-block: 200px;
  display: grid;
  gap: var(--sp-s);
  align-items: center;
}

@media (max-width: 1024px) {
  .images-section {
    padding-block: unset;
  }
}

.images-section img {
  width: 100%;
  display: block;
}

.images-section {
  scrollbar-width: none;
  /* Firefox */
}

.images-section::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.description-section {
  padding-block: var(--page-padding);
  align-content: end;
  overflow: auto;
}

.links-section {
  margin-top: var(--sp-m);
  display: flex;
  gap: var(--sp-s);
}

.menu-list {
  padding: 0;
  margin: 0;
}

.menu-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list-item-link {
  color: var(--c-2);
  text-decoration: none;
  display: block;
}

.menu-list-item-link {
  color: var(--c-2);
  text-decoration: none;
  display: block;
}

.menu-list-item-link:hover {
  color: var(--c);
}

.menu-list-item .active {
  color: inherit;
}

.description-secondary {
  color: var(--c-2);
}

.header {
  container-type: inline-size;
}

@container (max-width: 270px) {
  .category-list {
    display: none;
  }
}

@media (max-width: 1024px) {
  .category-list {
    display: none;
  }
}

.category-list-item {
  color: var(--c-2);
}

.category-list-item:hover {
  color: var(--c);
  cursor: default;
}

.bg-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: -1;
  color: var(--c-2);
  background: var(--bg);
}

.home-root .bg-section {
  color: var(--c);
}

/* .bg-section svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
} */

.bg-img {
  /* mix-blend-mode: lighten; */
  z-index: 1000;
  display: block;
  height: 100%;
}

/* 
@keyframes line {
  100% {
    stroke-dashoffset: 100%;
  }
}

@keyframes line2 {
  100% {
    stroke-dashoffset: -100%;
  }
}

.line1 {
  animation-duration: 118s;
}

.line2 {
  animation-duration: 124s;
}

.line3 {
  animation-duration: 130s;
}

.line1,
.line2,
.line3 {
  will-change: stroke-dashoffset;
  animation-name: line;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.line1 {
  animation-name: line2;
} */