/* @font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-45Mager.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-35RLeicht.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-35Leicht.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-65Halbfett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-55RNormal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-45RMager.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-55Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-65RHalbfett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-85RSchwer.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-85Schwer.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-75RFett.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NB Grotesk';
  src: url('../assets/font/NBGrotesk-75Fett.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

:root {
  --bg: hsl(0 0% 8%);
  --c: hsl(0 0% 93%);
  --c-2: hsl(0 0% 50%);
  --c-3: hsl(0 0% 30%);

  --sp-rto: 1.618;

  --sp-s: 8px;
  --sp-m: calc(var(--sp-s) * var(--sp-rto));
  --sp-l: calc(var(--sp-m) * var(--sp-rto));
  --sp-xl: calc(var(--sp-l) * var(--sp-rto));
  --sp-xxl: calc(var(--sp-xl) * var(--sp-rto));

  --tx-rto: 1.414;

  --tx-s: 15px;
  --tx-m: calc(var(--tx-s) * var(--tx-rto));
  --tx-l: calc(var(--tx-m) * var(--tx-rto));
  --tx-xl: calc(var(--tx-l) * var(--tx-rto));
  --tx-xxl: calc(var(--tx-xl) * var(--tx-rto));

  --page-padding: var(--sp-xl);
}

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--c);
  font-family: 'NB Grotesk', monospace;
  font-size: var(--tx-s);
  line-height: 1.4;
}

h1 {
  font-size: unset;
}

h2 {
  font-size: unset;
  font-weight: 700;
  margin-top: var(--sp-xl);
}

p {
  margin: 0;
}

p+p {
  margin-top: var(--sp-m);
}

.link {
  color: var(--c-2);
  text-decoration: none;
}

.link:hover {
  color: var(--c);
}

.underline-link {
  color: var(--c-2);
  text-underline-position: under;
  text-decoration-thickness: 0.5px;
  text-decoration-color: var(--c-3);
}

.underline-link:hover {
  color: var(--c);
  text-decoration-color: currentColor;
}

.root {
  display: grid;
  gap: var(--sp-xl);
  grid-template-columns: 2fr 1.5fr 1fr;
  height: 100%;
  overflow: hidden;
}

.about-root {
  grid-template-columns: 2fr 1.5fr 2fr;
}

@media (max-width: 1024px) {
  .root,
  .about-root {
    grid-template-columns: 1fr;
    height: unset;
    gap: 0;
    padding-inline: var(--page-padding);
  }
}


.about-image-section {
  overflow: auto;
  padding-block: var(--page-padding);
  display:grid;
  gap: var(--page-padding);
  max-height: calc(100vh - var(--page-padding));
  
}

.about-image-section img {
  width: 100%;
  display: block;
}

.about-image-section {
  scrollbar-width: none;
  /* Firefox */
}

.about-image-section::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.about-text-section {
  align-self: end;
  padding-block: var(--page-padding);
  padding-right: var(--page-padding);
  overflow: auto;
  max-height: 100vh;
}

@media (max-width: 1024px) {
  .about-image-section {
    padding: unset;
  }

  .about-text-section {
    overflow:unset;
    max-height:unset;
    padding: var(--page-padding); 
  }
}

.header {
  padding-block: var(--page-padding);
  padding-left: var(--page-padding);
  gap: var(--page-padding);
  max-height: 100vh;
  display: grid;
  grid-template-areas:
    "main-title"
    "menu"
    "about-link-section";
}

@media (max-width: 768px) {
  .root:not(.home-root) .menu {
    padding-top: var(--page-padding);
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: unset;
    grid-template-areas:
      "main-title about-link-section"
      "menu menu";
  }
}

@media (max-width: 768px) {
  .home-root .header {
    height: 100vh;
  }
  .home-root .menu {
    align-self: start;
  }
}

.main-title {
  margin: 0;
  grid-area: main-title;
}

.main-title-link {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--sp-xl);
  align-self: center;
  grid-area: menu;
}

.about-link-section {
  align-content: end;
  color: var(--c-2);
  grid-area: about-link-section;
}

@media (max-width: 768px) {
  .about-link-section {
    align-content: start;
  }
}

@media (max-width: 1024px) {
  .about-link-section {
    margin-left: auto;
  }
}

.player-section {
  align-content: center;
}

.images-section {
  overflow: auto;
  padding-block: 200px;
  display: grid;
  gap: var(--sp-s);
  align-items: center;
}

@media (max-width: 1024px) {
  .images-section {
    padding-block: unset;
  }
}

.images-section img {
  width: 100%;
  display: block;
}

.images-section {
  scrollbar-width: none;
  /* Firefox */
}

.images-section::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.description-section {
  padding-block: var(--page-padding);
  align-content: end;
  overflow: auto;
  padding-right: var(--page-padding);
}

@media (max-width: 1024px) {
  .description-section {
    padding-right: unset;
  }
}

.links-section {
  margin-top: var(--sp-m);
  display: flex;
  gap: var(--sp-s);
}

.menu-list {
  padding: 0;
  margin: 0;
}

.menu-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list-item-link {
  color: var(--c-2);
  text-decoration: none;
  display: block;
}

.menu-list-item-link {
  color: var(--c-2);
  text-decoration: none;
  display: block;
}

.menu-list-item-link:hover {
  color: var(--c);
}

.menu-list-item .active {
  color: inherit;
}

.description-secondary {
  color: var(--c-2);
}

.header {
  container-type: inline-size;
}

@container (max-width: 270px) {
  .category-list {
    display: none;
  }
}

@media (max-width: 1024px) {
  .category-list {
    display: none;
  }
}

.category-list-item {
  color: var(--c-2);
}

.category-list-item:hover {
  color: var(--c);
  cursor: default;
}

.bg-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: -1;
  color: var(--c-2);
  background: var(--bg);
}

.bg-img {
  mix-blend-mode: lighten;
  z-index: 1000;
  display: block;
  position: absolute;
  max-height: 1200px;
}

@media (max-width: 1024px) {
  .bg-img {
    max-height: 800px;
  }
}
